 *{
margin: 0;
padding: 0;
box-sizing: border-box;
}

img{
    width: 100%;
}
#slider{
    position: relative;
}



#next{
    background-color: bisque;
    padding: 20px 10px; 
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    right: 20px;
    
    
}

#prev{
    background-color: bisque;
    padding: 20px 10px; 
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    left: 20px;
    
}